@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center" style="background-color:firebrick">
    <h1 class="display-4" style="color:red">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @*Server Side Comment Example*@
    <!--Client Comment-->
    <div class="text-center" style="background-color:#fff;margin-bottom:2rem ;padding:1rem ;margin-top:3rem">
    </div>
    <div class="text-left" style="padding:5px;background-color:#FFC300;width:32rem;height:20rem;display:flow;float:left;overflow:hidden;border-radius:2px">
        <h1 class="display-4" style="color:white;font-weight:400;font-size:1.5rem;text-align:center ; ">Available Items</h1>

        <div class="text-center" style="margin:2px;background: rgba(253, 254, 254, 0.5);width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/SmartPhones.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;font-size:0.9rem;color:#000">Smart Phones</a>
            </div>
        </div>
        <div class="text-center" style="margin:2px;background-color:#fff;width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/Electronics.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">Electronics</a>
            </div>

        </div>
        <div class="text-center" style="margin:2px;background: rgba(253, 254, 254, 0.5);width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/Headphones.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">HeadPhones</a>
            </div>

        </div>
        <div class="text-center" style="margin:2px;background-color:#fff;width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/Grocery.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">Grocery</a>
            </div>

        </div>
        <div class="text-center" style="margin:2px;background: rgba(253, 254, 254, 0.5);width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/SportWear.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">Sports Wear</a>
            </div>
        </div>
        <div class="text-left" style="margin:2px;background-color:#fff;width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/SportWear.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shoes</a>
            </div>

        </div>
        <div class="text-left" style="margin:2px;background: rgba(253, 254, 254, 0.5);width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/SmartWatch.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">Smart Watch</a>
            </div>

        </div>
        <div class="text-left" style="margin:2px;background-color:#fff;width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/Furniture.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">&nbsp;&nbsp;&nbsp;Furnitures</a>
            </div>

        </div>
        <div class="text-left" style="margin:2px;background: rgba(253, 254, 254, 0.5);width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/Laptops.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:0.1rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">&nbsp;&nbsp;&nbsp;&nbsp;Laptops</a>
            </div>

        </div>
        <div class="text-left" style="margin:2px;background-color:#fff;width:6rem;height:8rem;display:flow;float:left;overflow:hidden">
            <div><img src="~/Img/mustang.jpg" style="height:6rem;width:6rem" /></div>
            <div style="height:1.8rem;width:6rem;background-color:#fff;margin:.2rem;">
                <a href="https://www.amazon.in/smart-watch/s?k=smart+watch"
                   target="_blank" style="text-decoration:none;color:#000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cars</a>
            </div>

        </div>

    </div>
    <div class="text-right" style="background-color:#000;width:34.5rem;height:20rem;display:flow;float:right;overflow:hidden;border-radius:40px">
        <a href="amazon.in/b/?ie=UTF8&node=1389401031&pf_rd_r=0SVY3QGQFRXNA03WET1X&pf_rd_p=847e03dc-32e6-4b73-b164-807ff4502869&pd_rd_r=f621632a-c7a6-4ed7-b6b1-4ed034b398aa&pd_rd_w=BHrC2&pd_rd_wg=Z0naR&ref_=pd_gw_unk" target="_blank"><img src="~/img/img12.jpg" style="width:34.5rem;height:20rem;" /></a>
    </div>
</div>
<div style="height:30rem;background-color:#FEF9E7;margin-top:30rem;padding:1rem">
    <div style="margin-top:3rem;background-color:#fff;width:32rem;height:22rem;float:left;overflow:hidden;">
        <img src="~/img/Dhamaka Offer.jpg" style="width:30rem;height:20rem;margin:1rem" />
    </div>
    <div class="" style="margin-top:3rem;width:34rem;height:22rem;display:flow;float:right;overflow:hidden;">
        <h1 class="" style="color:#000;font-weight:600;font-size:3rem;text-align:center;margin-bottom:2rem">Special Offer!!</h1>
        <div style="width:100%;background: rgba(248, 164, 6, 0.5);height:2.5rem;margin:1rem">
            <p style="text-align:center;padding-top:.5rem;color:#fff;font-weight:800;">Starting Price: $2000 Only!!!</p>
        </div>
        <div style="width:100%;background: rgba(248, 164, 6, 0.5);height:2.5rem;margin:1rem">
            <p style="text-align:center;padding-top:.5rem;color:#fff;font-weight:800;">15 cm (6.1-inch) Super Retina XDR display</p>
        </div>
        <div style="width:100%;background: rgba(248, 164, 6, 0.5);height:2.5rem;margin:1rem">
            <p style="text-align:center;padding-top:.5rem;color:#fff;font-weight:800;">Durable design with Ceramic Shield</p>
        </div>
        <div style="width:100%;background: rgba(248, 164, 6, 0.5);height:2.5rem;margin:1rem">
            <p style="text-align:center;padding-top:.5rem;color:#fff;font-weight:800;">
                Up to 19 hours of video playback
            </p>
        </div>
        <div style="width:100%;background: rgba(239, 80, 11, 0.5);height:2.5rem;margin:1rem">
            <div>
                <a href="https://www.amazon.in/Apple-iPhone-13-128GB-Starlight/dp/B09G9D8KRQ/ref=sr_1_1_sspa?crid=FDU8X4V4BDQY&keywords=iphone+13&qid=
                    1659344056&sprefix=iphone%2Caps%2C470&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExVE5LTElERjlY
                    MFJRJmVuY3J5cHRlZElkPUEwNzg4NTU2MUNDOEpLSkk1QzY4NCZlbmNyeXB0ZWRBZElkPUEwODcyNjcyMU1YSlo1M1lHVElOWiZ3aW
                    RnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" style="border:initial;background-color:darkorange;text-decoration:none">
                    <p style="text-align:center;padding-top:.5rem;color:#fff;font-weight:800;">
                        Buy Now!!
                    </p>


                </a>
            </div>

            <div>
                <div class="container mt-3">
                    <h2>Flex</h2>
                    <p>To create a flexbox container and transform direct children into flex items, use the d-flex class:</p>
                    <div class="d-flex p-3 bg-secondary text-white">
                        <div class="p-2 bg-info">Flex item 1</div>
                        <div class="p-2 bg-warning">Flex item 2</div>
                        <div class="p-2 bg-primary">Flex item 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3">

     </div>  
  </div> 
  </div> 
  
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
 <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Img/mustang.jpg" style="width:100%" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="~/Img/Laptops.jpg" style="width:100%" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="~/Img/SmartPhones.jpg" style="width:100%" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
